couleurs :  #65A6E4
            #5C92C4

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
}

header {
    display: inline-block;
    width: 100%;
    background-color: #65A6E4;
    position:fixed;
}

#hamburger {
    position: relative;
    display: inline;
    height: 30%;
    width: 20%;
}

#hamburger menu {
    display: none;
    position: absolute;
}

#hamburger button {
    padding: 5%;
}

menu a {
    display: block;
    text-decoration: none;
    color: black;
    width: 50%;
    height: 10%;
}

header p {
    position: relative;
    display:inline-block;
    right:0px;
}

header img {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 15%;
}
