couleurs :  #65A6E4
            #5C92C4

html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0px;
}

header {
    display: block;
    width: 100%;
    background-color: #65A6E4;
    position:fixed;
    top:0px;
}

#hamburger {
    position: relative;
    display: block;
    width: 15%;
}

#hamburger menu {
    display: none;
    position: absolute;
    background-color: #65A6E4;
}

#hamburger button {
  border: none;
  padding: 0px;
  background-color: #5C92C4;
}

#hamburger button img {
  width: 85%;
}

#hamburger menu a {
    display: block;
    text-decoration: none;
    color: black;
    width: 50%;
    height: 10%;
    margin: 0px;
}

#user {
    display: inline-block;
    position: absolute;
    top:0px;
    right:0.5rem;
    text-align: right;
    margin-top: 8px;
}

#user a {
  position: relative;
  top: 20px;
  text-decoration: none;
  color: black;
}

#user a img {
    width: 17%;
    float: right;
}
