body {
  background-image: url('../images/index-background.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.index > div {
    width: 80%;
    text-align: center;
    margin:auto;
    background-color: #65A6E4;
    border:5px solid #5C92C4;
}

h2 {
    width: 100%;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
}

table {
  width: 60%;
  margin: auto;
  border:5px solid #5C92C4;
}

th {
  padding-bottom: 5%;
}

th, td {
  margin-right: 5%;
}

button {
  font-weight: bolder;
  background-color: #5C92C4;
  border: none;
  padding: 1%;
}
