body {
  background-image: url('../images/index-background.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
    width:70%;
    margin: auto;
    background-color: #65A6E4;
    border: solid #5C92C4 5px;
    text-align: center;
}

div h1 {
    background:#5C92C4;
}

div a {
    text-decoration: none;
    color:black;
}

div li {
    font-size: 1.3em;
    margin-bottom: 1%;
}
