couleurs :  #65A6E4
            #5C92C4

html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0px;
}

header {
    display: block;
    width: 100%;
    background-color: #65A6E4;
    position:fixed;
    top:0px;
}

#hamburger {
    position: relative;
    display: block;
    height: 20%;
    width: 15%;
}

#hamburger menu {
    display: none;
    position: absolute;
}

#hamburger button {
    padding: 30%;
    height:100%;
}

#hamburger menu a {
    display: block;
    text-decoration: none;
    color: black;
    width: 50%;
    height: 10%;
}

#user {
    display: inline-block;
    position: absolute;
    top:0px;
    right:0.5rem;
    text-align: right;
}

#user a {
  vertical-align: -20px;
}

#user a img {
    width: 17%;
    float: right;
}
