couleurs :  #65A6E4
            #5C92C4

html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0px;
}

header {
    display: block;
    width: 100%;
    background-color: #65A6E4;
    position:fixed;
    top:0px;
}

#hamburger {
    position: relative;
    display: block;
    height: 30%;
    width: 20%;
}

#hamburger menu {
    display: none;
    position: absolute;
}

#hamburger button {
    padding: 30%;
    height:100%;
}

menu a {
    display: block;
    text-decoration: none;
    color: black;
    width: 50%;
    height: 10%;
}

header p {
    display: inline-block;
    position: absolute;
    top:0px;
    right:0.5rem;
    float: right;
    text-align:right;
}

header p img {
    width: 21%;
}
